<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Transport Go WASM Playground - 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<p>You've hit...</p>
<pre>
           _             _            _
   _  /\ \         / /\       _  /\ \
  /\_\\ \ \       / /  \     /\_\\ \ \
 / / / \ \ \     / / /\ \   / / / \ \ \
/ / /   \ \ \   / / /\ \ \ / / /   \ \ \
\ \ \____\ \ \ /_/ /  \ \ \\ \ \____\ \ \
 \ \________\ \\ \ \   \ \ \\ \________\ \
  \/________/\ \\ \ \   \ \ \\/________/\ \
            \ \ \\ \ \___\ \ \         \ \ \
             \ \_\\ \/____\ \ \         \ \_\
              \/_/ \_________\/          \/_/

</pre>
</body>
</html>